<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%= name%></h1>
    <h2>Welcome to <%= destination%></h2>
    
    Hello <%= name%> <br>
    <% if (hours >= 0 && hours < 12) { %>
        <h3> good morning</h3>
    <% } %>
    <% if (hours >= 12 && hours < 16) { %>
        <h3> good afternoon</h3>
    <% } %>
    <% if (hours >= 16 && hours < 20) { %>
        <h3> good evening</h3>
    <% } %>
    <% if (hours >= 20 && hours < 24) { %>
        <h3> good night</h3>
    <% } %>
    
</body>
</html> 